
gunicorn==19.9.0
itsdangerous==1.1.0
Click==7.0
Flask==1.1.1
Jinja2==2.10.1
MarkupSafe==1.1.1
Werkzeug==0.15.6
numpy==1.18.4
pandas==1.0.3
Pillow==7.1.2
requests==2.23.0
requests-oauthlib==1.3.0
scikit-learn==0.22.2.post1
scikit-surprise==1.1.0
scipy==1.4.1
sklearn==0.0
surprise==0.1

nltk
